@model IEnumerable<Invoice>

<h2 class="text-center">Your Invoice</h2>
<div class="container mt-4">
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>InvoiceId</th>
                <th>Date</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Status</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var invoice in Model)
            {
                <tr>
                    <td>@invoice.InvoiceId</td>
                    <td>@invoice.InvoiceDate.ToString("dd/MM/yyyy")</td>
                    <td>@invoice.FullName</td>
                    <td>@invoice.Email</td>
                    <td>@invoice.Phone</td>
                    <td>@invoice.Address</td>
                    <td>@invoice.Status</td>
                    <td>@invoice.Amount</td>
                </tr>
            }
        </tbody>
    </table>
</div>
